/* Estilos generales */
body {
    background-color: orange;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
<<<<<<< HEAD
=======
  
>>>>>>> 90082354bdce803f3831c0b996ed1eec8b26e3a8
    color: #333;
}

/* Contenedor principal */
.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
<<<<<<< HEAD
    width: 90%;
    max-width: 400px;
=======
>>>>>>> 90082354bdce803f3831c0b996ed1eec8b26e3a8
}

/* Título */
h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

<<<<<<< HEAD
/* Grupos de entrada */
.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
=======
/* Contenedor de botones */
.button-container {
    display: flex;
    gap: 15px;
    justify-content: center;
>>>>>>> 90082354bdce803f3831c0b996ed1eec8b26e3a8
}

/* Botones */
.role-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
<<<<<<< HEAD
    background-color: orange;
    color: white;
    width: 100%;
    max-width: 100%;
}

.role-button:hover {
    background-color: rgb(227, 154, 17);
}
.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .product {
    border: 1px solid #ddd;
    padding: 20px;
    width: 300px;
    border-radius: 8px;
  }
  
  .product h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .product p {
    margin: 5px 0;
  }
  
=======
}

/* Colores de los botones */
#cliente {
    background-color:orange;
    color: white;
    Width: 20vh;
}

#cliente:hover {
    background-color: rgb(227, 154, 17);
}

#vendedor {
    background-color:orange;
    color: white;
    Width: 20vh;
}

#vendedor:hover {
    background-color: rgb(227, 154, 17);
}
>>>>>>> 90082354bdce803f3831c0b996ed1eec8b26e3a8
